In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/George-Michael-Dagogo/Premier_League_Stats/main/csv_dir/stadiums.csv')
df

,City,Club,Stadium,Capacity
0,Birmingham,Aston Villa,Villa Park,"42,785"
1,Brighton,Brighton & Hove Albion,The Amex,"31,800"
2,Burnley,Burnley,Turf Moor,"22,619"
3,Leeds,Leeds United,Elland Road,"39,460"
4,Leicester,Leicester City,King Power Stadium,"32,312"
5,Liverpool,Everton,Goodison Park,"40,157"
6,Liverpool,Liverpool,Anfield,"54,074"
7,London,Arsenal,Emirates Stadium,"60,361"
8,London,Brentford,Brentford Community Stadium,"17,250"
9,London,Chelsea,Stamford Bridge,"41,837"
10,London,Crystal Palace,Selhurst Park,"26,225"
11,London,Tottenham Hotspur,Tottenham Hotspur Stadium,"62,303"
12,London,West Ham United,London Stadium,"60,000"
13,Manchester,Manchester City,Etihad Stadium,"55,000"
14,Manchester,Manchester United,Old Trafford,"75,811"
15,Newcastle upon Tyne,Newcastle United,St James Park,"52,339"
16,Norwich,Norwich City,Carrow Road,"27,010"
17,Southampton,Southampton,St Mary's Stadium,"32,689"
18,Watford,Watford,Vicarage Road,"21,500"
19,Wolverhampton,Wolverhampton Wanderers,Molineux Stadium,"31,700"

In [6]:
import pandas as pd

df  = pd.read_csv('../csv_dir/detail_top_scorers.csv')
df

                  Player  Country                     Team  Goals  Penalty
0         Erling Haaland   Norway         Manchester City      25        4
1             Harry Kane  England       Tottenham Hotspur      16        2
2             Ivan Toney  England            Brentford FC      13        4
3    Aleksandar Mitrović   Serbia               Fulham FC      11        3
4                Rodrigo    Spain            Leeds United      10        1
..                   ...      ...                      ...    ...      ...
180          Jamie Vardy  England          Leicester City       1        0
181   Kyle Walker-Peters  England          Southampton FC       1        0
182        Danny Welbeck  England  Brighton & Hove Albion       1        0
183         Ashley Young  England             Aston Villa       1        0
184           Kurt Zouma   France         West Ham United       1        0

[185 rows x 5 columns]

In [1]:
import pandas as pd

al = pd.read_csv('/workspace/Premier_League_Stats/csv_dir/top_scorers(all_time).csv')
al.rename(columns = {'Ø':'Average'}, inplace = True)
#al.Player= al.Player.str.replace('*', '')
#al = al.drop('#',axis=1)
al.to_csv('/workspace/Premier_League_Stats/csv_dir/top_scorers(all_time).csv',index=False)