In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/George-Michael-Dagogo/Premier_League_Stats/main/csv_dir/stadiums.csv')
df

,City,Club,Stadium,Capacity
0,Birmingham,Aston Villa,Villa Park,"42,785"
1,Brighton,Brighton & Hove Albion,The Amex,"31,800"
2,Burnley,Burnley,Turf Moor,"22,619"
3,Leeds,Leeds United,Elland Road,"39,460"
4,Leicester,Leicester City,King Power Stadium,"32,312"
5,Liverpool,Everton,Goodison Park,"40,157"
6,Liverpool,Liverpool,Anfield,"54,074"
7,London,Arsenal,Emirates Stadium,"60,361"
8,London,Brentford,Brentford Community Stadium,"17,250"
9,London,Chelsea,Stamford Bridge,"41,837"
10,London,Crystal Palace,Selhurst Park,"26,225"
11,London,Tottenham Hotspur,Tottenham Hotspur Stadium,"62,303"
12,London,West Ham United,London Stadium,"60,000"
13,Manchester,Manchester City,Etihad Stadium,"55,000"
14,Manchester,Manchester United,Old Trafford,"75,811"
15,Newcastle upon Tyne,Newcastle United,St James Park,"52,339"
16,Norwich,Norwich City,Carrow Road,"27,010"
17,Southampton,Southampton,St Mary's Stadium,"32,689"
18,Watford,Watford,Vicarage Road,"21,500"
19,Wolverhampton,Wolverhampton Wanderers,Molineux Stadium,"31,700"

In [11]:
import pandas as pd

al = pd.read_csv('/workspace/Premier_League_Stats/csv_dir/alltime_scorers(Penalty).csv')
al.Player= al.Player.str.replace('*', '')
al.to_csv('/workspace/Premier_League_Stats/csv_dir/alltime_scorers(Penalty).csv',index=False)

/tmp/ipykernel_3650/756361536.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  al.Player= al.Player.str.replace('*', '')